Source: op2-common
Priority: extra
Maintainer: Graham Markall <graham.markall08@imperial.ac.uk>
Build-Depends: debhelper (>= 8.0.0), cmake, libhdf5-openmpi-dev, libptscotch-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.oerc.ox.ac.uk/research/op2
#Vcs-Git: git://git.debian.org/collab-maint/op2-common.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/op2-common.git;a=summary

Package: libop2-dev
Section: libdevel
Architecture: any
Depends: libop2 (= ${binary:Version})
Description: The OP2 common libraries

Package: libop2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The OP2 common development files
